{% extends 'index.html' %}
{% block content %}

<style>
    body {
        background-color: #f5f5f5; 
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0;
        padding: 20px;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        width: 150px;
        height: 50px;
        background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
        border-radius: 30px;
        border: 1px solid #8F9092;
        transition: all 0.2s ease;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #606060;
        text-shadow: 0 1px #fff;
        margin: 10px 0;
    }

    button:hover {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    }

    button:active {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    button:focus {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
</style>
<h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #606060; margin-bottom: 10px; display: block;">EPIs Cadastrados:</h1>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
        <tr>
            <th style="border-bottom: 1px solid #ccc; padding: 10px; text-align: left;">Nome</th>
            <th style="border-bottom: 1px solid #ccc; padding: 10px; text-align: left;">Lote</th>
        </tr>
    </thead>
    <tbody>
        {% for epi in epi_cadastrados %}
        <tr>
            <td style="border-bottom: 1px solid #ccc; padding: 10px;">{{ epi.nome }}</td>
            <td style="border-bottom: 1px solid #ccc; padding: 10px;">{{ epi.lote }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" style="padding: 10px; text-align: center;">Nenhum EPI cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="button">
    <a href="{% url 'cadastrar_epi' %}">
    <button type="submit">Cadastrar Novo EPI</button>
    </a>
</div>

{% endblock %}